* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cairo, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
a:h input,
input::placeholder {
  font-family: Cairo, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}
/* ==================================== sidebar css ============= */
form #login-label-username,
form #login-label-password {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
form #my-input-password,
form #my-input-userName {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 15px;
  display: block;
  flex: 1;
  caret-color: #fff;
  color: #fff;
}
::-ms-reveal {
  filter: invert(100%);
}
#branch-form input::placeholder,
#supervisor-form input::placeholder {
  font-size: 14px;
}
form input[type="submit"] {
  background-color: #ffc100;
  color: #000;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}
@media (max-width: 1114px) {
  .image-container {
    display: none; /* Hide form when the screen width is 1114px or below */
  }
}

/* ================ sidebar =================== */
.navlink.active-link {
  background-color: #fff !important;
  color: #000 !important;
}

.search-input {
  font-family: Cairo, BlinkMacSystemFont;
  outline: none;
  border: none;
  /* background-color: #F3F3F3 ; */
  border-radius: 8px;
  width: 280px;
  padding: 8px 10px;
  font-size: 16px;
}
.search-input::placeholder {
  color: #999; /* Placeholder text color */
  font-family: Cairo, BlinkMacSystemFont;
  /* font-size: 16px; */
}
/* =============== contarcts table ============== */
table {
  border-collapse: separate !important;
  border-spacing: 0 8px !important;
}
thead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
tr td,
.muirtl-17k0b6q-MuiTableCell-root {
  border-bottom: none !important;
}
table thead tr {
  border-radius: 10px !important;
}
.muirtl-17k0b6q-MuiTableCell-root {
  box-shadow: none !important;
  margin-top: 0 !important;
}
table tr td,
th {
  padding: 10px !important;
}
.swal-btn-yes {
  background-color: red;
  color: #fff;
}

.active-link {
  background-color: #f3f3f3;
}
